@font-face {
  font-family: "segoe-wp-light";
  src: url("../fonts/segoe-wp-light.eot");
  src: url("../fonts/segoe-wp-light.otf");
  src: url("../fonts/segoe-wp-light.svg");
  src: url("../fonts/segoe-wp-light.ttf");
  src: url("../fonts/segoe-wp-light.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeWPN";
  src: url("../fonts/SegoeWPN.eot");
  src: url("../fonts/SegoeWPN.otf");
  src: url("../fonts/SegoeWPN.svg");
  src: url("../fonts/SegoeWPN.ttf");
  src: url("../fonts/SegoeWPN.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe-bold";
  src: url("../fonts/Segoe-ui-bold.eot");
  src: url("../fonts/Segoe-ui-bold.otf");
  src: url("../fonts/Segoe-ui-bold.svg");
  src: url("../fonts/Segoe-ui-bold.ttf");
  src: url("../fonts/Segoe-ui-bold.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLTStd-Light";
  src: url("../fonts/HelveticaLTStd-Light.eot");
  src: url("../fonts/HelveticaLTStd-Light.otf");
  src: url("../fonts/HelveticaLTStd-Light.svg");
  src: url("../fonts/HelveticaLTStd-Light.ttf");
  src: url("../fonts/HelveticaLTStd-Light.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLTStd-Roman";
  src: url("../fonts/HelveticaLTStd-Roman.eot");
  src: url("../fonts/HelveticaLTStd-Roman.otf");
  src: url("../fonts/HelveticaLTStd-Roman.svg");
  src: url("../fonts/HelveticaLTStd-Roman.ttf");
  src: url("../fonts/HelveticaLTStd-Roman.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLTStd-Bold";
  src: url("../fonts/HelveticaLTStd-Bold.eot");
  src: url("../fonts/HelveticaLTStd-Bold.otf");
  src: url("../fonts/HelveticaLTStd-Bold.svg");
  src: url("../fonts/HelveticaLTStd-Bold.ttf");
  src: url("../fonts/HelveticaLTStd-Bold.woff");
  font-weight: normal;
  font-style: normal;
}