<div class="b-tabs-content">
    <div class="b-tabs-content__badge">
        <span class="b-tabs-content__badge-item">30%</span>
        <span class="b-tabs-content__badge-text">off</span>
    </div>
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_1.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
        <span class="b-tabs-content__value">$50</span>
    </div>

</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_2.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The war of
        <div class="b-tabs-content__title">
            Art
        </div>
        <span class="b-tabs-content__value">$60</span>
    </div>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__badge">
        <span class="b-tabs-content__badge-item">30%</span>
        <span class="b-tabs-content__badge-text">off</span>
    </div>
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_3.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
    </div>
    <span class="b-tabs-content__value">$25</span>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_4.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Immortals of Meluha
    </div>
    <span class="b-tabs-content__value">$80</span>
</div>
<div class="b-tabs-content b-tabs-content_margin-right_none">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_5.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        Life Is What You Make It
    </div>
    <span class="b-tabs-content__value">$200</span>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_6.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
        <span class="b-tabs-content__value">$200</span>
    </div>

</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_7.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The war of
        <div class="b-tabs-content__title">
            Art
        </div>
        <span class="b-tabs-content__value">$150</span>
    </div>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__badge">
        <span class="b-tabs-content__badge-item">30%</span>
        <span class="b-tabs-content__badge-text">off</span>
    </div>
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_8.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
    </div>
    <span class="b-tabs-content__value">$100</span>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_9.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Immortals of Meluha
    </div>
    <span class="b-tabs-content__value">$152</span>
</div>
<div class="b-tabs-content b-tabs-content_margin-right_none">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_10.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        Life Is What You Make It
    </div>
    <span class="b-tabs-content__value">$200</span>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_11.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
        <span class="b-tabs-content__value">$220</span>
    </div>

</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_12.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The war of
        <div class="b-tabs-content__title">
            Art
        </div>
        <span class="b-tabs-content__value">$10</span>
    </div>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_13.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
    </div>
    <span class="b-tabs-content__value">$22</span>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__badge">
        <span class="b-tabs-content__badge-item">30%</span>
        <span class="b-tabs-content__badge-text">off</span>
    </div>
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_14.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Immortals of Meluha
    </div>
    <span class="b-tabs-content__value">$300</span>
</div>
<div class="b-tabs-content b-tabs-content_margin-right_none">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_15.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        Life Is What You Make It
    </div>
    <span class="b-tabs-content__value">$205</span>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_11.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
        <span class="b-tabs-content__value">$220</span>
    </div>

</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_12.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The war of
        <div class="b-tabs-content__title">
            Art
        </div>
        <span class="b-tabs-content__value">$10</span>
    </div>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_13.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Hare With Amber Eyes
    </div>
    <span class="b-tabs-content__value">$22</span>
</div>
<div class="b-tabs-content">
    <div class="b-tabs-content__badge">
        <span class="b-tabs-content__badge-item">30%</span>
        <span class="b-tabs-content__badge-text">off</span>
    </div>
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_14.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        The Immortals of Meluha
    </div>
    <span class="b-tabs-content__value">$300</span>
</div>
<div class="b-tabs-content b-tabs-content_margin-right_none">
    <div class="b-tabs-content__img">
        <img class="b-tabs-img" src="images/books/books_15.png" alt="book">
    </div>
    <div class="b-tabs-content__title">
        Life Is What You Make It
    </div>
    <span class="b-tabs-content__value">$205</span>
</div>